### Print Input/Output

In [1]:
x,y = input("Enter two values:").split()
print(x,y)

ValueError: not enough values to unpack (expected 2, got 0)

In [ ]:
# Print without newline in Python 3.x without using for loop
 
l = [1, 2, 3, 4, 5, 6]
 
# using * symbol prints the list
# elements in a single line
print(l)

#print inside the list
print(*l)

In [ ]:
# ends the output with a space
print("Welcome to", end = ' ')
print("GeeksforGeeks", end= ' ')

In [ ]:
#code for disabling the softspace feature 
print('G','F','G', sep='') 

#for formatting a date 
print('09','12','2016', sep='-') 

#another example 
print('pratik','geeksforgeeks', sep='@')

In [ ]:
# Python program showing how to use string modulo operator(%)

print("Geeks : %2d, Portal : %5.2f" % (1, 05.333)) 

print("Total students : %3d, Boys : %2d" % (240, 120)) # print integer value

print("%7.3o" % (25)) # print octal value

print("%10.3E" % (356.08977)) # print exponential value

### Function

In [ ]:
def fun ():
    print("Welcom to my House")

fun()

In [ ]:
def myFun(x,y=50):
    print("x = ", x)
    print("y = ", y)

myFun(20,40)

In [ ]:
def myName(firstname,lastname):
    print(firstname,lastname)

myName(firstname="Nonthakorn",lastname="Chenc")

In [ ]:
def nameAge(name,age):
    print("Hi, I am", name)
    print("My age is", age)

print("Case-1: ")
nameAge("Non",22)

#! put it in order

print("Case-2:")
nameAge(22,age="Nonttt")

In [ ]:
def myFun(*argv):
    for arg in argv:
        print(arg,end=" ")

myFun('Hello','Welcome','to','SCHOOL')

In [ ]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

In [ ]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

In [ ]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

### For Loop + List

In [ ]:
a = ["banana","apple","microsoft"]

for element in a :
    print(element)

In [ ]:
b = [20,10,5]
total = 0


for e in b:
    total = total + e
    print(e)

print(total)

In [ ]:
x = range(1,5)
print(*x)

y = range(5)
print(*y)

In [ ]:
# 1, 2, 3, 4

c = list(range(1,5))
print(c)

In [ ]:

total = 0
for i in range(1,5):
    total = total + i
    print(i)

print(total)

In [ ]:
print(*list(range(1,8)))

total = 0 

for i in range(1,8):
    if i%3 == 0 :
        total += i

print(total)

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])


print(thislist)
print(*thislist)

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

### Tuple

- Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created

In [ ]:
thistuple = ("apple","banana","cherry")
print(thistuple)

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

In [ ]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

- Tuple can be of any data type

In [ ]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [ ]:
A = [1,"adb",True]

print(A)

In [ ]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

thistuple2 = ("apple", "banana", "cherry")
print(thistuple2)

In [ ]:
x = ("apple","banana","cherry")
y = list(x)
# print(x)
# print(y)
y[1] = "kiwi"
y.insert(2,"mango")
print(y)
x = tuple(y)

print(x)

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

print(thistuple)

- Adding Tuple

In [ ]:
thistuple = ("apple", "banana", "cherry")

#! Tuple need to have comma if dont have its gonna be string
y = ("orange",)

thistuple += y

print(thistuple)

In [ ]:
thistuple = ("apple", "banana", "cherry")

y = list(thistuple)
y.remove("apple",)

print(tuple(y))

In [ ]:
thistuple = ("apple", "banana", "cherry")
del thistuple

print(thistuple)

- Unpack Tuple

In [ ]:
fruits = ("apple","banana","cherry")

(green,yellow,red) = fruits

print(green)
print(yellow)
print(red)

- Using Asterisk "*"

If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green,*yellow) = fruits

print(fruits)
print(yellow)

If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

In [ ]:

fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

- Loop Tuples

In [ ]:
thistuple = ("apple","banana","cherry")

for x in thistuple:
    print(x)

print(len(thistuple))
print(type(thistuple))

In [ ]:
thistuple = ("apple","banana","cherry")
x = 0
for i in range(len(thistuple)):
    x += 1
    print(thistuple[i])

print(x)

apple
banana
cherry
3

In [ ]:
thistuple = ("apple","banana","cherry")
i = 0

while i < len(thistuple):
    print(thistuple[i])
    i += 1

apple
banana
cherry

- List and Tuple can add together

In [9]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)


list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = (list1 + list2)*2
print(list3)

('a', 'b', 'c', 1, 2, 3)
['a', 'b', 'c', 1, 2, 3, 'a', 'b', 'c', 1, 2, 3]

In [7]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [10]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

In [14]:
thistuple = (1, 3, 7, 9, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

8